body{
    background-image: url(fullhdpokeball.jpg);
    background-repeat: repeat;
    background-position: top;
    background-color: black;
    color: white;
    font-size: large;
}
h1 {
    font-size: medium;
    font-style: normal;
}
.zöld{
    color: rgb(8, 196, 8);
}
.felsor{
    color: yellow;
    font-size: smaller;
}
.lila{
    color: indigo;
}
.kék{
    color: blue;
}
.sárga{
    color: yellow;
}
nav ul{
    margin:0;
    padding: 0;
}
nav a:link {
    color: RGB(123,145,222);
    background-color: white;
}
nav a:visited{
    color: RGB(123,145,222);
}
nav a:hover{
    background-color: white;
    text-decoration: underline;
}
nav a:active{
    color: red;
}
nav ul li{
    margin: 0 10px;
    display: inline;
    border: 1px solid white;
    padding: 10px;
}
table {
    width: 70%;
    margin: 0 5%;
}
table tr:hover {
    color: red;
}
table,table td, table th {
    border-collapse: collapse ;
}
table th{
    color: grey;
    padding: 5px;
}

nav a:link{
    color: RGB(123,145,222);
    background-color: white;
}

nav a:visited{
    color: RGB(123,145,222);
}

nav ul li:hover{
    text-decoration: underline;
    background-color: wheat;
}