body{
    background-color: gray;
    color: white;
}
h1 {
    font-size: medium;
    font-style: normal;
}
.zöld{
    color: rgb(8, 196, 8);
}
.felsor{
    color: yellow;
    font-size: smaller;
}
.lila{
    color: indigo;
}
.kék{
    color: blue;
}
.sárga{
    color: yellow;
}